.abPic img{
    height: 200px;
    width: 200px;
  }
  /* .textA{
    padding: 20px; */
  /* } */
  .img-style img{
    /* height: 300px; */
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: 150px;
  }
  .header{
    height: 500px;
  }
  
  @media only screen and (max-width: 425px){
    .header{
        height: 700px;
       
    }
    .img-style img{
      margin-left:35px;
    }
	/*Small smartphones [325px -> 425px]*/
}