.contact{
    /* background-color:linear-gradient(90deg, #6d56c1 10%, #729c7b 90%) */
    /* background-color: darkslategrey; */
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}
.contact .from{
    width: 50%;
    margin-right: 5%;
    float:left;
    
}


.contact h2{color:whitesmoke;
margin-left: 40px;}



.contact p{color: lightcoral;margin-left: 40px ;line-height: 1.7;}

.contact p strong{
    /* color:#606568; */
    color:white;
    
}

.contact .info{
   width: 45%;
    float:left;
}


.contact .from label{
    display: block;
    color:honeydew;
    margin: 10px 0
    
}
.contact .from input[type="text"]{
    /* background-color:#4B5557 ; */
    border-radius: 5px;
    background-color:white ;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;

}
.contact .from textarea{
    /* background-color:#4B5557 ; */
    border-radius: 10px;
    background-color:white ;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 150px

}
.contact .from input[type="submit"]{
    border-radius: 5px;
background-color: #191E21;
color: #fff;
padding: 10px 20px;
border: 0;
text-transform: uppercase;
margin-top: 10px


}
